body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 24px;
}
  
.dark-mode {
    background-color: black;
    color: white;
}

#localtime {
    font-size: 42px;
    font-weight: bolder;
}

#countdown {
    font-size: 42px;
    font-weight: bolder;
}